<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- AlzaSy9SVC0uTOoz-W5ijWpltKjnBEfBJVjkZHD -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediStreamApplication"
        tools:targetApi="31">
        <activity
            android:name=".FullscreenImageActivity2"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity2"
            android:exported="false" />
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Download"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.ShowForm_TeacherForm"
            android:exported="false" />
        <activity
            android:name=".show_form"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.ShowForm_SixToEighteen"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.Examination"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.Addiction_Form"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.Physical_Activity"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.Dietary_History"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.history_examination_form"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.Demographic_Form"
            android:exported="false" />
        <activity
            android:name=".TeacherForm.TeacherForm"
            android:exported="false" />
        <activity
            android:name=".FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.PreliminaryFindings_SecondForm"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.Adolescent_Specific"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.DevelopmentDelaySecondForm"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.Defect_Deficiency_Disease"
            android:exported="false" />
        <activity
            android:name=".SixToEighteen.School_Information_Section_SecondForm"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.ShowForm_ThreeToSix"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.Preliminary_Finding_FirstForm"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.Developmental_Delays_Form_FirstForm"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.Diseases_FirstActivity"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.Deficiencies_Section_FirstForm"
            android:exported="false" />
        <activity
            android:name=".ReadMoreFirstForm"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.Defects_at_birth_firstform"
            android:exported="false" />
        <activity
            android:name=".ThreeToSix.School_Information_Section_FirstForm"
            android:exported="false" />
        <activity
            android:name=".Details.InternDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Details.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard.InternDashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.AdminDashboard"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_paths" /> -->
        <!-- </provider> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.medistreamapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>